/*
/	-----------------------------------------
//	Written by:		
//	MICHAEL HARVEY GARNER 
//	2019	MONTREAL,  CANADA
//	-----------------------------------------

//	-----------------------------------------
//	Michael Garner Professional Resume
//	-----------------------------------------
*/
body {
	background-color:#69ddfc;
}
form {
	background-color:#1a1aef;
	border: 4px solid #114433;
	padding:10px;
}

h1, h2, h3, h4 {
	text-align: center;
}

#field1 {
	background-color:#aaaaef;
	border: 2px solid #114433;
	padding:10px;
	text-align: center;
}
#field2 {
	background-color:#aaccee;
	border: 2px solid #114433;
	padding:10px;
}
#field3 {
	background-color:#ca87fe;
	border: 2px solid #114433;
	padding:10px;
}
