/*
/	-----------------------------------------
//	Written by:		
//	MICHAEL HARVEY GARNER 
//	2019	MONTREAL,  CANADA
//	-----------------------------------------

//	-----------------------------------------
//	Michael Garner Professional Resume
//	-----------------------------------------
*/
body {
	background-color:#7070fc;
}

h1, h2, h3, h4 {
	text-align: center;
}

#pictures {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// MENU BAR
ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	color: #69ddfc;
	font-family: Arial;
	text-align: center;
}

ul li {
	text-align: center;
	float: left;
	width: 20%;
	height: 50px;
	background-color: black;
	opacity: .9;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
	list-style-type: none;
}


ul li a {
	text-decoration: none;
	color: #69ddfc;
	display: block;
}

ul li a:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}


ul li ul li {
	display: none;
}


ul li:hover ul li {
	float: left;
	display: block;
	background_color: white;
	text-align: center;
	float: left;
	min-width: 225px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	list-style-type: none;
	margin-left: 0px;
}


ul li ul li:hover a{
	opacity: 1.0;
	display: block;
	background_color: white;
	color: black;
}
