/*
/	-----------------------------------------
//	Written by:		
//	MICHAEL HARVEY GARNER 
//	2019	MONTREAL,  CANADA
//	-----------------------------------------

//	-----------------------------------------
//	Michael Garner Professional Resume
//	-----------------------------------------
*/
body {
	background-color:#1c4af5;
	background-image: url("https://mikeg3.github.io/Resume-V2.0/Pictures/bluefade5.jpg");
	color: white;
	font-size: large;
	font-family: Consolas,monaco,monospace; 
	/* The HTML body does not by default cover the full with nor height */
	/* May need to use javascript bodyclassORid.witdh = window.innerheight;  
	bodyclassORid.witdh = window.innerwidtht; */ 
	width: 100%;	
	padding: 0px;
	margin: 0px;
}

a {
	color: #003366;
}

h1, h2, h3, h4 {
	text-align: center;
}

#pictures {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* MENU BAR */
ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style-type: none;
	color: #ffffff;
	font-family: Arial;
	text-align: center;
}
ul li {
	text-align: center;
	float: left;
	width: 19.85%;
	height: 50px;
	background-color: #0b33cb;
	opacity: .9;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
	list-style-type: none;
}
/* Responsive adjustments FOR MOBILE DEVICE */
@media (max-width: 768px) {
	ul li {
		text-align: center;
		float: left;
		width: 19.8%;
		height: 50px;
		background-color: #0b33cb;
		opacity: .9;
		line-height: 50px;
		text-align: center;
		font-size: 20px;
		margin-top: 1px;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-left: 1px;
		list-style-type: none;
	}
}
ul li a {
	text-decoration: none;
	color: #ffffff;
	display: block;
}
ul li a:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	float: left;
	display: block;
	background-color: #0b33cb;
	color : black;
	text-align: center;
	float: left;
	width: 19.7%;
	min-width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	list-style-type: none;
}
ul li ul li:hover a{
	opacity: 1.0;
	display: block;
	background-color: white;
	color: black;
}

/* entrepeneur table*/
table.hobbyTable tr td:hover {
	color: black;
	background-color:  white;
	border: 8px solid blue;
    border-radius: 5px;
	border-color: #003366;
}

/* Work Experience & Education table*/
table.twotable tr:hover td{
	color: black;
	background-color:  white;
	border: 8px solid blue;
    border-radius: 5px;
	border-color: #006699;
	/*
	background-color: white;
	border: 10px solid blue;
	*/
}

table.twotable td:hover{
	color: black;
	background-color: white;
	border: 8px solid blue;
    border-radius: 5px;
	border-color: #006699;
	/*
	background-color: white;
	border: 10px solid blue;
	*/
}


/* Background gradient by section */
#bck1 div, #bck2 div, #bck3 div{
	background-image: url("https://mikeg3.github.io/Resume-V2.0/Pictures/bluefade5.jpg");
	background-size: cover;
}

/*Entrepeneur*/
#platinumaudio:hover, #mgtech:hover, #mathmentormike:hover, #minisafari:hover{
	background-size: cover;
	background-size: contain;
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
	height: 200px;
	color: white;
}
#platinumaudio:hover{
	background-image: url(Pictures/previewimage.png);
}
#minisafari:hover {
	background-image: url(Pictures/minisafari.png);
}
#mgtech:hover {
	background-image: url(Pictures/MGtech.jpeg);
}
#mathmentormike:hover {
	background-image: url(Pictures/getreal.jpg);
}
#platinumaudio:hover .entrepeneurtitlelink{
	visibility: hidden;
}
.entrepeneurtextlink{
	color: white;
	text-decoration: none;
}

#minisafari:hover .entrepeneurtitlelink, #minisafari:hover .entrepeneurtextlink{
	color: black;
}
#mgtech:hover .entrepeneurtitlelink{
	color: rgb(168, 22, 168);
}
#mgtech:hover .entrepeneurtextlink{
	visibility: hidden;
}
#mathmentormike:hover .entrepeneurtitlelink, #mathmentormike:hover .entrepeneurtextlink{
	color: black;
}
#mathmentormike:hover .entrepeneurtextlink{
	color: white;
}


/* Hobbies */
#kayak:hover {
	background-image: url(Pictures/kayak1b.jpg);
}
#garden:hover {
	background-image: url(Pictures/BonsaiGarden1.jpg);
}
#music:hover {
	background-image: url(Pictures/guitar3.jpg);
	color: white;
}
#build:hover {
	background-image: url(Pictures/woodworking2b.jpg);
	color: white;
}
#kayak, #garden, #music, #build{
	border: none;
	padding: 0;
	margin: 0;
	background-size: cover;
	width: 50%;
	height: 200px;
}
#kayak:hover, #garden:hover, #music:hover, #build:hover{
	background-color: #1c4af5;
	border: none;
	padding: 0;
	margin: 0;
	background-size: cover;
	width: 50%;
	height: 200px;
}

.rates p {
	width: 90%; /* Paragraphs will take up 80% of the width */
    margin: 10px auto; /* Center align with top/bottom spacing */
    padding: 10px; /* Add space inside the paragraph box */
    border-radius: 8px; /* Optional: Rounded corners */
}

