.background-gradient {
		background-image: url(../Pictures/bluefade5.jpg); 
		background-size: cover; 
		border: 0pX;
 	 	padding: 0px;
  		margin: 0px;	 
        z-index: 1;
}

.background3 {
	background-image: url(../Pictures/bluefade5.jpg); 
		background-size: cover; 
		border: 0px;
 	 	padding: 0px;
  		margin: 0px;
		width: 100%; 
}

footer p{
	padding-left: 8px;
	margin-left: 8px;
	outline: red 3px solid;
}