.entreTable {
    color:white;
    font-size:2vw;
    text-align: center;
}

.entreTable tr {
    height: 50%;
}

.entreTable td {
    height: 50dvh;
    width: 50%;
}


/*Entrepeneur*/
#platinumaudio:hover,
#mgtech:hover,
#mathmentormike:hover,
#minisafari:hover {
	background-size: cover;
	background-size: contain;
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
	color: white;
    border-radius: 30px;
}

#platinumaudio:hover {
	background-image: url(../Pictures/previewimage.png);
}

#minisafari:hover {
	background-image: url(../Pictures/minisafari.png);
}

#mgtech:hover {
	background-image: url(../Pictures/MGTechLogo.svg);
}

#mathmentormike:hover {
	background-image: url(../Pictures/getreal.jpg);
}

#platinumaudio:hover .entrepeneurtitlelink {
	visibility: hidden;
}

.entrepeneurtextlink {
	color: white;
	text-decoration: none;
}

#minisafari:hover .entrepeneurtitlelink,
#minisafari:hover .entrepeneurtextlink {
	color: black;
}

#mgtech:hover .entrepeneurtitlelink {
	color: rgb(168, 22, 168);
}

#mgtech:hover .entrepeneurtextlink {
	visibility: hidden;
}

#mathmentormike:hover .entrepeneurtitlelink,
#mathmentormike:hover .entrepeneurtextlink {
	color: black;
}

#mathmentormike:hover .entrepeneurtextlink {
	color: white;
}
