.twotable {
    width: 100%;
    color:white;
    text-align: center;
    vertical-align: top;
}

 .educationThumbnail, .workThumbnail {
    display: block;
	margin-left: auto;
	margin-right: auto;
}

.workThumbnail {
    margin-bottom: 10px;
}

/* entrepeneur table*/
table.hobbyTable tr td:hover {
	color: black;
	background-color: white;
	border: 8px solid blue;
	border-radius: 5px;
	border-color: #003366;
}

/* Work Experience & Education table*/
table.twotable tr:hover td {
	color: black;
	border: 5px solid #002999;
	border-radius: 5px;

	background-image: url('../Pictures/bluefade2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

table.twotable td:hover {
	color: black;
	background-color: white;
	border: 8px solid blue;
	border-radius: 5px;
	border-color: #006699;
}